# macOS
.DS_Store

# Swift Package Manager
/.build/
/.swiftpm/
/Packages
/*.xcodeproj
xcuserdata/

# Xcode
/build/

# Homebrew
Brewfile.lock.json

# Jazzy
/docs/docsets/

# Visual Studio Code
/.vscode/
